{% trans_default_domain 'FOSUserBundle' %}

	{% extends "FOSUserBundle::profileLayout.html.twig" %}

	{% block subBody %}
		<section id="profile">
			<header><h1>Changer Mot De Passe</h1></header>
			<div class="account-profile">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<form role="form" id="form-account-profile" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" >
							<section id="contact">
								<h3>Changer Mot De Passe</h3>
								<dl class="contact-fields">
									<dt><label for="form-account-name">Mot De Passe Actuel:</label></dt>
									<dd><div class="form-group">
										{{ form_widget(form.current_password, { 'attr': {'class': 'form-control'} }) }}
										{{ form_errors(form.current_password) }}
									</div><!-- /.form-group --></dd>
									<dt><label for="form-account-phone">Nouveau Mot De Passe:</label></dt>
									<dd><div class="form-group">
										{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
										{{ form_errors(form.plainPassword.first) }}
									</div><!-- /.form-group --></dd>
									<dt><label for="form-account-email">Retaper Le Nouveau Mot De Passe</label></dt>
									<dd><div class="form-group">
										{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
										{{ form_errors(form.plainPassword.second) }}
									</div><!-- /.form-group --></dd>
									<dd>
										<div class="form-group">
											<button type="submit" class="btn pull-right btn-default" id="account-submit">Metre à jour</button>
										</div>
									</dd>
								</dl>
							</section>
						{{ form_end(form) }}
					</div><!-- /.col-md-9 -->
				</div><!-- /.row -->
			</div><!-- /.account-profile -->
		</section><!-- /#profile -->
	{% endblock %}
