<div id="pfa_mainbundle_wholeproperty_roomsInformations___name__">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                {{ form_label(form.size) }}
                {{ form_widget(form.size) }}
                {{ form_errors(form.size) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <ul class="submit-features">
                    <li>
                        <div class="checkbox">
                            <label>
                                {{ form_widget(form.suite) }}
                                {{ form_label(form.suite) }}
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <hr style="border-top: dashed 1px #BBBBBB; width: 50%; margin-top: 0;" />
    </div>
</div>